.glogo{
  width:272px; ; height:92px ;
  background-image: url("https://www.google.co.in/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
  position: absolute;
  top: 220px;
  left: 620px;
}

.button{

}

.text_box{
  position: absolute;
  top: 345px;
  left: 485px;
  width: 560px; height: 40px;
}
