body{
  width: 1520px;
}

form{
  position: relative;
}

.glogo{
  width:600px; ; height:237px;
  background-image: url("https://media.giphy.com/media/uTCYPjwqleYF2/giphy.gif");
  position: absolute;
  top: 80px;
  left: 455px;
}

.button{
  position: absolute;
  top: 397px;
  height: 38px;
  justify-content: center;
  border: 0 ;
  background: #f2f2f2;
  font-weight: bold; font-family: Arial;
  color: #808080;
}

.button:hover{
  border: 0.1px #b3b3b3 solid;
  color: #4d4d4d;
}

.Search{
  left: 640px;
  width: 116px;

}

.Lucky{
  right: 630px;
  width: 130px;
}

.text_box{
  position: absolute;
  top: 322px;
  left: 495px;
  width: 555px; height: 44px;
  box-shadow: 1px 3px #cccccc;
  border: 1px #e6e6e6 solid;
  padding: 3px 10px ;
}

.text_box:focus{
  outline: 0;
}

.voice{
  position: absolute;
  height: 22px; width: 22px;
  top: 335px;
  right:  500px;
  z-index: 5;
}

.navbar{
  height: 40px; width: 100%;
  position: relative;
  border-bottom:1px #f2f2f2 solid;
  padding-bottom: 5px;
}

.gmail,.images,.sign_in{
  display: inline-block;
  align-content: center;
  position: absolute;
  top: 10px;
  font-family: Arial; font-size: 13px;
  padding: 8px 13px;
  text-decoration: none;
}

.gmail{
  right: 189px;
  color: rgba(0,0,0,0.87);
}

.images{
  right: 130px;
  color: rgba(0,0,0,0.87);
}

.squares{
  position: absolute;
  top: 11px;
  right: 100px;
  background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  width: 30px; height: 30px;
  background-position: -132px -38px;
  opacity: 0.5;
  display: inline-block;
}

.sign_in{
  right: 20px;
  background: #4285f4;
  font-weight: bold;
  color: white;
  border: 0; border-radius: 2px;

}

.squares:hover{
  opacity: 1;
}

.gmail:hover,.images:hover{
  text-decoration: underline;
}

.languages{
  position:absolute;
  width: 90%;
  top: 460px;
}

.offerings,.german{
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 13px;
  left:680px;

}

.german{
  color: #1a0dab;
}

.german:hover{
  text-decoration: underline;
}

.lower_bottom_bar{
  position: absolute;
  top: 720px;
  border-top: 1px #e6e6e6 solid;
  background: #f2f2f2;
  width: 99%;
}

.advertising,.businnes,.about,.privacy,.terms,.settings{
  display: inline-block;
  font-weight: normal; font-family: Arial;
  font-size: 13px;
  position: relative;
  padding: 10px 0;
  color: rgba(0,0,0,.54);
  text-decoration: none;

}

.advertising:hover,.businnes:hover,.about:hover,.privacy:hover,.terms:hover,.settings:hover{
  text-decoration: underline;
}

.advertising{
  left:10px;
}

.businnes{
  left:20px;
}

.about{
  left:40px;
}

.privacy{
  left: 1140px ;
}

.terms{
  left: 1175px ;
}

.settings{
  left: 1195px ;
}

.upper_bottom_bar{
  position: absolute;
  top: 670px; width: 98%;
  border-top: 1px #e6e6e6 solid;
  background: #f2f2f2;
}

.country{
  padding-top: 10px;
  font-family: Arial;
  font-weight: strong;
  color: rgba(0,0,0,.54);
  position: relative;
  top: 5px;
  left:10px;
}
